<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>G10 - Software </title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Fonts -->
    <!-- Lato -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="css/responsive.css">

    <meta name="DESCRIPTION" content="Desenvolvimento de Softwares,Análise de banco de dados e consultorias para empresas">
    <meta name="ABSTRACT" content="">
    <meta name="KEYWORDS" content="Sistema translado, Sistema estoque, ERP, Consultoria TI, Análise Banco de dados,Sistema Contabilidade, Desenvovlvimento WEB, Desenvolvimento Mobile, Desenvolvimento Desktop">
    <meta name="ROBOT" content="All">
    <meta name="RATING" content="general">
    <meta name="DISTRIBUTION" content="global">
    <meta name="LANGUAGE" content="PT-BR">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body id="body">
    <div id="preloader">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <!--
    Header start
    ==================== -->
    <div class="navbar-default navbar-fixed-top" id="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="logo-1" src="images/logo.png" width="200" height="80" alt="LOGO">
                    <img class="logo-2" src="images/logo-2.png" width="170" height="50" alt="LOGO">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right" id="top-nav">
                    <li class="current"><a href="#body">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#service">Serviços</a></li>
                    <li><a href="#contact">Contato</a></li>
                </ul>
            </nav>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h1 class="wow fadeInDown">Uma empresa com paixão por inovação </h1>
                        <p class="wow fadeInDown" data-wow-delay="0.3s">Buscamos facilitar as tarefas cotidianas, além de prestar uma consultoria com excelentes profissionais da área</p>
                        <div class="wow fadeInDown" data-wow-delay="0.3s">
                            <a class="btn btn-default btn-home" href="#about" role="button">saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow zoomIn">
                    <div class="block">
                        <div class="counter text-center">
                            <ul id="countdown_dashboard">
                                <li>
                                    <div class="dash days_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-cloud" aria-hidden="true"></i></h2>
                                            <span class="dash_title">TECNOLOGIA CLOUD 
                                            </span>
                                        </div>
                                    </div>
                                </li>
                               <%-- <li>
                                    <div class="dash hours_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-mobile" aria-hidden="true"></i></h2>
                                            <span class="dash_title">MOBILE
                                            </span>
                                        </div>
                                    </div>
                                </li>--%>
                                <li>
                                    <div class="dash minutes_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-globe" aria-hidden="true"></i></h2>
                                            <span class="dash_title">WEB
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-desktop" aria-hidden="true"></i></h2>
                                            <span class="dash_title">DESKTOP
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-users" aria-hidden="true"></i></h2>
                                            <span class="dash_title">CONSULTORIA EM T.I
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dash seconds_dash">
                                        <div class="col-md-12">
                                            <h2><i class="fa fa-database" aria-hidden="true"></i></h2>
                                            <span class="dash_title">BANCOS DE DADOS
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- header close -->
    <!--
    About start
    ==================== -->
    <section id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="sub-heading">
                        <h3>Sobre a G10 - Software</h3>
                    </div>
                    <div class="block">
                        <p>
                            A G10 Software é uma Empresa com mais de 3 anos de experiência no mercado de TI – Tecnologia da Informação, criada com a missão de desenvolver soluções com alta qualidade e a preço competitivo.

                            Desde Pessoas Físicas, à empresas de Grande Porte nosso foco é desenvolver sistemas que facilitam desde a gestão, até a integração.

                            Dentro deste conceito, as características principais dos nossos serviços são, desde a implantação até treinamento e um suporte operacional para tirar dúvidas sempre que elas surgirem.
                        </p>

                    </div>
                </div>
                <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about-slider">
                        <div class="init-slider">
                            <div class="about-item">
                                <img src="images/about/1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="about-item">
                                <img src="images/about/2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="about-item">
                                <img src="images/about/3.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #about close -->
    <!--
    About start
    ==================== -->
    <!--
    Service start
    ==================== -->
    <section id="service" class="section">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    <h2>Nossos Serviços</h2>
                    <p>No intuito de tornar as tarefas cotidianas ainda mais simples, desenvolvemos as ferramentas citadas abaixo.</p>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fa fa-car"></i>
                            </span>
                        </div>
                        <div class="caption">
                            <h3>Translado</h3>
                            <p>Uma ferramenta ideal para você que possui uma empresa de fretamento executivo e translados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fa fa-money"></i>
                            </span>
                        </div>
                        <div class="caption">
                            <h3>Repositório Contábil</h3>
                            <p>Organize os guias de pagamentos e emita relatórios de seus cliente. Ferramenta ideal para seu escritótio de contabilidade.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fa fa-line-chart"></i>
                            </span>
                        </div>
                        <div class="caption">
                            <h3>Gestão de estoque</h3>
                            <p>Um ERP capaz de controlar as finanças, estoque, pedido, entre outras coisas de sua empresa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                    <div class="service">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fa fa-code"></i>
                            </span>
                        </div>
                        <div class="caption">
                            <h3>Sistemas Personalisados</h3>
                            <p>Desenvolva seu sistema conosco.</p>
                            <p>Automatize as rotinas da sua empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container close -->
    </section>
    <!-- #service close -->
    <%--<section id="call-to-action" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="block">
                        <!--<h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>-->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Receba nossas noticias, informe seu email.">
                            <button class="btn btn-default btn-submit" type="submit">Cadastrar email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>--%>
    <!-- #call-to-action close -->
    <!--
    Contact start
    ==================== -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="block">
                        <div class="heading wow fadeInUp">
                            <h2>Contato</h2>
                            <p>Para mais informações ou consultoria, entre em contato conosco</p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-5 wow fadeInUp">
                    <div class="block text-left">
                        <div class="sub-heading">
                            <h4>Contact Address</h4>
                            <p>Envie sua mensagem e nossa equipe retornará o mais breve possível.</p>
                        </div>
                        <address class="address">
                            <hr>
                            <p>Dhanmondi 32,<br> Dhaka,<br> Bangladesh</p>
                            <hr>
                            <p><strong>E:</strong>&nbsp;hello@foundry.net<br>
                            <strong>P:</strong>&nbsp;+614 3948 2726</p>


                        </address>
                    </div>
                </div>-->
                <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="form-group">
                        <form action="#" method="post" id="contact-form">
                            <div class="input-field">
                                <input id="nomeCliente" type="text" class="form-control" placeholder="Seu nome" name="name">
                                <label id="lblNomeCliente" class="error" for="nomeCliente" style="display:none">Por favor, informe seu nome.</label>
                            </div>
                            <div class="input-field">
                                <input id="emailCliente" type="email" class="form-control" placeholder="Endereço de Email" name="email">
                                <label id="lblEmailCliente" class="error" for="emailCliente" style="display:none">Por favor, informe um email válido.</label>
                            </div>
                            <div class="input-field">
                                <textarea id="mensagem" class="form-control" placeholder="Sua mensagem" rows="3" name="message"></textarea>
                                <label id="lblMensagem" class="error" for="mensagem" style="display:none">Por favor, escreva sua mensagem.</label>
                            </div>
                            <input id="btnEnviaEmail" class="btn btn-send" type="button" value="Enviar" />
                        </form>
                        <div id="success">
                            <p>Sua mensagem foi enviada com sucesso.</p>
                        </div>
                        <div id="error">
                            <p>Erro ao enviar mensagem, tente novamento mais em instantes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section clas="wow fadeInUp">
        <div class="map-wrapper">
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <!--<p>Copyright &copy; <a href="http://www.g10software.com.br">G10 Software</a>| Todos os direitos reservados.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Js -->
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/jquery.lwtCountdown-1.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/site.js"></script>

</body>
</html>